* {
    padding: 0px;
    margin: 0px;
}
.containerRid {
    width: 100%;
    height: 100vh;
    background-color: #edfafa;
    position: relative;
}

.main {
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 70px;
    left: 110px;
}
.text {
    width: 50%;
    line-height: 50px;
    
}
.faq h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #4075a0;


}
.faq h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-family: 600;
    line-height: 67.8px;
    color: black;
}
.faq div {
    background-color: #3dbdd8;
    width: 100px;
    height: 4px;
    line-height: 23.7px;
    
}
.faq button {
    padding: 16px 32px;
    background-color: #292466;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    line-height: 24px;
}
 .faq button b {
    position: absolute;
    font-size: 20px;
    right: 30px;
    opacity: 0;
    transition: 0.4s ease;
}
.faq button b:hover {
    opacity: 1;
    right: 10px;
}
/* .faq button:hover {
    content: '5';
    transform: scale(90deg);

} */
.dropdown {
    width: 70%;
    height: 80vh;
    background-color: white;
}
.dropdowntext {
    width: 67%;
    margin: auto;
}
.dropdowntext hr {
    color: #423c93;
}
input {
    position: relative;
    appearance: none;
    background-color:white;
    width: 100%;
    height:   80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    margin:5px 0;
}
#input1::before{
    position: absolute;
    content: 'Who Can Take This Course?';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:900 ;
    color:#292466 ;
  }
#input1::after {
    content: '\276f';
    transition: 0.5s ease;
    position: absolute;
    left: 0px;
    font-size: 25px;
    color: #433f79;
    transform: rotate(90deg);
}
.hide1 {
        opacity: 0;
        max-height: 0;
        transition: 4s ;
}
#input1:checked ~ .hide1 {
        max-height: 100%;
        opacity: 1;
        color: #433f79;
}
    
#input1:checked::after {
        transform: rotate(270deg);
}
#input2::before{
        position: absolute;
        content: 'Do I get certified after my training?';
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:900 ;
        color:#292466 ;
}
#input2::after {
        content: '\276f';
        transition: 0.5s ease;
        position: absolute;
        left: 0px;
        font-size: 25px;
        color: #433f79;
        transform: rotate(90deg);
}
.hide2 {
            opacity: 0;
            max-height: 0;
            transition: 4s ease;
}
#input2:checked ~ .hide2 {
            max-height: 100%;
            opacity: 1;
            color: #433f79;
}
        
#input2:checked::after {
            transform: rotate(270deg);
}
#input3::before{
    position: absolute;
    content: 'What is Job outlook growth for software developers?';
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900 ;
    color:#292466 ;
}
#input3::after {
    content: '\276f';
    transition: 0.5s ease;
    position: absolute;
    left: 0px;
    font-size: 25px;
    color: #433f79;
    transform: rotate(90deg);
}
.hide3 {
        opacity: 0;
        max-height: 0;
        transition: 4s ease;
}
#input3:checked ~ .hide3 {
        max-height: 100%;
        opacity: 1;
        color: #433f79;
}
    
#input3:checked::after {
        transform: rotate(270deg);
}
#input4::before{
    position: absolute;
    content: 'I am a student, and we are currently on holiday, what happens when my school resumes?';
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900 ;
    color:#292466 ;
}
#input4::after {
    content: '\276f';
    transition: 0.5s ease;
    position: absolute;
    left: 0px;
    font-size: 25px;
    color: #433f79;
    transform: rotate(90deg);
}
.hide4 {
        opacity: 0;
        max-height: 0;
        transition: 4s ease;
}
#input4:checked ~ .hide4 {
        max-height: 100%;
        opacity: 1;
        color: #433f79;
}
    
#input4:checked::after {
        transform: rotate(270deg);
}
#input5::before{
    position: absolute;
    content: 'What else do I need to start this course?';
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900 ;
    color:#292466 ;
}
#input5::after {
    content: '\276f';
    transition: 0.5s ease;
    position: absolute;
    left:0px;
    font-size: 25px;
    color: #433f79;
    transform: rotate(90deg);
}
.hide5 {
        opacity: 0;
        max-height: 0;
        transition: 4s ease;
}
#input5:checked ~ .hide5 {
        max-height: 100%;
        opacity: 1;
        color: #433f79;
}
    
#input5:checked::after {
        transform: rotate(270deg);
}







