* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
}

.containerBen {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    margin-top: 400px;
}

.cohort {
    background-color: white;
    height: 120vh;
    width: 78%;
    display: flex;
    box-shadow: 0px 0px 44px -2px rgb(0 0 0 / 15%);
}

.left {
    width: 50%;
    font-family: 'Nunito sans';
    /* padding: 50px; */
    margin-top: 80px;
    line-height: 1.3;
    padding:0 50px 0 40px;
}

hr {
    width: 100px;
    height: 5px;
    background-color: #3bbdd8;
    margin: 30px 0;
}

.left h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    color: #4075a0;

}

.left h1 {
    font-size: 50px;
    padding: 4px 0;
    color: #262466;
}

.left p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    width: 50%;
    position: relative;
    background-image: url(./webinar-10.png);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
    height: 100%;
}

.right img {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    object-fit: cover;
}

button {
    border: none;
    background-color: #292466;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    position: relative;
    width: 190px;
}

.timer {
    background-color: #e02b20;
    color: white;
    text-align: center;
    height: 150px;
    padding:  20px 0;
    margin: 27px 0;
    box-shadow: inset 0px 0px 20px 0px rgb(0,0,0,0.4);
}

.timer p , .tim p {
    margin: 0;
    font-weight: 400;
}

.timer p::first-letter {
    text-transform: uppercase;
}

.timer h1 {
    color: white;
}

.tim {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

b {
    font-size: 20px;
    position: absolute;
    right: 30px;
    opacity: 0;
    transition: 0.3s ease;
}

button:hover > b {
    right: 10px;
    opacity: 1;
}